@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Oleo+Script+Swash+Caps&display=swap');

.popup--container {
    position: absolute;
    left: 150%;
    transform: translate(25%, -30%);
    height: 650px;
    width: 500px;
    min-width: 600px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px lightgrey;
    background-color: white;
    font-size: 18px;
    z-index: 10;
    background-color: white;
}

.action-button--wrapper {
    height: 40px;
    text-align: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid lightgrey;
}

.action--label {
    font-weight: 700;
    text-shadow: 0px 0px 10px lightgray;
}

.action--button {
    color: rgb(140, 140, 178);
    cursor: pointer;
    font-size: 18px;
}

.features-container {
    text-align: center;
    margin: 20px;
    position: relative;
}

.category-box {
    padding: 10px;
    border: 1px solid lightgray;
    overflow-y: scroll;
    border-radius: 10px;
    height: 420px;
    box-shadow: 0px 0px 5px lightgray;
    cursor: pointer;
}

.prompt--name {
    font-weight: 700;
    text-shadow: 0px 0px 10px lightgray;
}

.category-info-wrapper {
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid lightgray;
}

.category-name-input {
    border: transparent;
    width: 100%;
    float: right;
    padding: 2px;
    height: 98%;
    background-color: white;
    font-size: 18px;
}

.drop-down-icon {
    margin-right: 5px;
    margin-left: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-list {
    margin-top: 5px;
    text-align: center;
}

.pickCategory {
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid lightgray;
}

.pickCategory:hover {
    background-color: lightgrey;
}

.categoryPicked {
    background-color: lightgrey;
    opacity: 1;
}

.category-add-button {
    padding: 2px;
    font-size: 18px;
}

.db-category-name {
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid lightgray;
}

.db-category-name:hover {
    background-color: lightgrey;
}

.db-category-icon {
    margin-right: 5px;
    margin-left: 5px;
    height: 30px;
    width: 30px;
}

.colors-box {
    border: 1px solid lightgrey;
    height: 110px;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px lightgray;
}

.colors-list {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.color-circle-disabled {
    pointer-events: none;
    opacity: 0.3;
}

.category-highlighted {
    background-color: lightgrey;
}
