.colors-box {
    border: 1px solid lightgrey;
    height: 110px;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px lightgray;
}

.colors-list {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.color--circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
    margin-right: 10px;
    margin-top: 20px;
}

.color--circle:last-child {
    margin-right: 0px;
}

.color--circle:hover {
    box-shadow: 0px 0px 5px grey;
}